{% extends 'base.html' %}
{% load static %}
{% block style %}

{% endblock %}

{% block body_block %}
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome</h1>
  
</div>
<div class=" mt-5 container text-center" >
    <div style="padding: 10px;background-color: black;">
        <a href="{% url 'Layout' %}" class="btn  btn-outline-warning">Change Layout</a>
        <a href="{% url 'create' %}" class="btn  btn-outline-warning">Create a pizza</a>
        {% if pizza is not False %}
        <a href="{% url 'AllPizza' %}" class="btn  btn-outline-light">Show all pizzas</a>
        {% else %}
        <a href="{% url 'NoPizza' %}" class="btn  btn-outline-light">Show all pizzas</a>
        {% endif %}
    </div>
</div>


{% endblock %}



<!-- <div class="row">
    <div class="col-sm-5 " id="create">
        <a href="{% url 'create' %}" class="btn btn-primary">Create a pizza</a>
    </div>
    <div class="col-sm-5 " id="showall">
        {% if pizza is not False %}
        <a href="{% url 'AllPizza' %}" class="btn btn-primary">Show all pizzas</a>
        {% else %}
        <a href="{% url 'NoPizza' %}" class="btn btn-primary">Show all pizzas</a>
        {% endif %}
    </div>
</div> -->